.login-section {
    font-family: 'Ubuntu', sans-serif;
    background: #fff;
    padding: 30px;
    h2 {
      margin-bottom: 30px;
      font-size: 20px;
      color: #334144;
    }
    form {
      .form-input {
        padding: 15px;
        background: #F5F6F7;
        border: 1px solid #DFE5EA;
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 10px;
        color: #334144;
        &--submit {
          background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
          box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
          border: none;
          border-radius: 3px;
          padding: 15px;
          cursor: pointer;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    &--success {
      button {
        background: linear-gradient(
            270deg, #ECBCB3 0%, #EAA79E 100%);
        border-radius: 50px;
        box-shadow: 0px 15px 20px rgb(234 168 159 / 20%);
        padding: 13px 25px;
        margin: 30px 20px 0 0;
        border: none;
        cursor: pointer;
      }
    }
  }
  