<section class="hero-bg-light pb-0 h-0 position-relative z-index-2">
    <div class="container">
        <div class="row check-availabilty" id="next">
            <div class="block-32" data-aos="fade-up" data-aos-offset="-200">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3 mb-lg-0 col-lg-3 position-relative z-index-2 border-right">
                            <label class="font-weight-bold text-black">Check In</label>
                            <div class="react-datepicker-wrapper">
                                <div class="react-datepicker__input-container react-datepicker__view-calendar-icon">
                                    <svg class="react-datepicker__calendar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z"></path>
                                    </svg>
                                    <span role="alert" aria-live="polite" class="react-datepicker__aria-live"></span>
                                    <input type="text" class="" value="03 July 2023">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-lg-0 col-lg-3 border-right">
                            <label class="font-weight-bold text-black">Check Out</label>
                            <div class="react-datepicker-wrapper">
                                <div class="react-datepicker__input-container react-datepicker__view-calendar-icon">
                                    <svg class="react-datepicker__calendar-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M96 32V64H48C21.5 64 0 85.5 0 112v48H448V112c0-26.5-21.5-48-48-48H352V32c0-17.7-14.3-32-32-32s-32 14.3-32 32V64H160V32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192H0V464c0 26.5 21.5 48 48 48H400c26.5 0 48-21.5 48-48V192z"></path>
                                    </svg>
                                    <span role="alert" aria-live="polite" class="react-datepicker__aria-live"></span>
                                    <input type="text" class="" value="10 July 2023">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                            <div class="row">
                                <div class="col-6 mb-3 mb-md-0 position-relative">
                                    <label class="font-weight-bold text-black">Adults</label>
                                    <div class="custom-dropdown ">
                                        <p><span>2</span><i class="icon-chev-down"></i></p>
                                        <div class="dropdown-content">
                                            <span id="0">0</span>
                                            <span id="1">1</span>
                                            <span id="2">2</span>
                                            <span id="3">3</span>
                                            <span id="4">4</span>
                                            <span id="5">5+</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-3 mb-md-0">
                                    <label class="font-weight-bold text-black">Children</label>
                                    <div class="custom-dropdown ">
                                        <p><span>0</span><i class="icon-chev-down"></i></p>
                                        <div class="dropdown-content">
                                            <span id="0">0</span>
                                            <span id="1">1</span>
                                            <span id="2">2</span>
                                            <span id="3">3</span>
                                            <span id="4">4</span>
                                            <span id="5">5+</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 align-self-end justify-content-end d-flex">
                            <button class="btn-menu-selce btn-max-height">Check Availabilty</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>